/* mobile responsive here */
@media screen and (max-width:576px) {
  
    .nav-item {
        display: none;
    }
    .mobile-bar{
        display: block;
        margin-left: 99%;
        width: 18px;
        color: aliceblue; 
        width: 24px;
        height: 24px;
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 1rem;
    }
    /* Get body in shape & stay healthy start style here */
    .banner-container{
        flex-direction: column;
    }
    .text-container{
        margin-top: 51px;
        margin-left: 20px;
    }
    .img-container{
        position: relative;
    }
    .header-title{
font-size: 2.25rem;
font-weight: 900;
text-align: left;
margin: 28px 0px;
width: 285px;
    }
    .header-description{
        width: 274px;
        margin: 28px 0px;
    }
    .btn{
        padding: 15px 20px;
    }
    .video-tutorial{
position: absolute;
width: 200px;
padding: 5px 10px;
top: 262px;
left: 40px;
    }
    .free-workout-videos{
        width: 160px;
        padding: 0px 0px;
        position: absolute;

    }
    /* <!-- Change Your Habits Start Codding Here --> */
    .habit-title{
font-size: 2rem;
    }
    .text-area{
        text-align: center;
        width: 338px;
    }
   .img-container{
    flex-direction: column;
   }
   /* <!-- Run an Extra Mile Easily style start here --> */
   .run-an-extra-mile-easily{
    flex-direction: column;
    width: 353px;
    height: 531px;
   }
   .run-an-extra-text-container{
    width: 287px;
    height: 264px;
    left: 33px;
    top: 31px;;
}
   .running-img img{
    width: 287px;
    height: 170px;
    left: 33px;
    top: 326px;
    margin-top: 31px;
    }





}