
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font-body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(28, 27, 27, 0.884) 100%);
}
.display-hidden{
    display: none;
}
.mobile-bar{
    display: none;
}

/* some common class name here  */
.display-flex{
display: flex;
}
.text-primary{
    color: rgba(255, 255, 255, 0.5);
font-size: 1rem;
font-weight: 400;
line-height: 24px;
}

/* header part style start here */
.nav-bar{
justify-content: space-between;
align-items: center;
padding-top: 1rem;
margin-left: 11.87rem;
margin-right: 11.87rem;
}
.nav-title{
color: rgb(230, 83, 60);
font-size: 2.25rem;
font-weight: 800;
}
.nav-item{
color: rgb(255, 255, 255);
font-size: 1.12rem;
font-weight: 400;
gap: 47px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;
padding: 4px;
align-items: center;
margin: 0px 10px;
}
.ul-color{
border-radius: 46px;
background: rgb(230, 83, 60);
padding: 4px;
}
.nav-item li{
list-style-type: none;
}
/* Get body in shape & stay healthy start style here */
.banner-container{
justify-content: space-between;
}
.text-container{
    margin-top: 97px;
    margin-left: 190px;
}
.img-container{
    margin-top: 32px;
    margin-right: 214px;
    position: relative;
}
.header-title{
    width: 520px;
    color: rgb(255, 255, 255);
font-size: 4.875rem;
font-weight: 900;
text-align: left;
margin: 28px 0px;
}
.header-description{
    width: 520px;
    color: rgba(255, 255, 255, 0.5);
font-size: 1rem;
font-weight: 400;
line-height: 24px;
text-align: left;
margin: 28px 0px;
}
.btn{
    color: rgb(255, 255, 255);
font-size: 1.125rem;
font-weight: 600;
padding: 16px 40px 16px 40px;
margin: 0px 10px;
border-radius: 42px;
background: rgb(230, 83, 60);
border: none;
}
.btn-01{
    border: 1px solid rgb(255, 255, 255);
border-radius: 42px;
background: black;
}
.red-cercile{
    width: 40px;
height: 40px;
background: rgb(230, 83, 60);
border-radius: 20px;
}
.video-tutorial{
    width: 206px;
    display: flex;
    gap: 12px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
padding: 20px 23px;
position: absolute;
top: 416px;
right: 256px;
}
.video-tutorial p{
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
 
}
.video-tutorial small{
    color: rgba(239, 237, 232, 0.65);
font-size: 1rem;
font-weight: 400;
}
.free-workout-videos{
    width: 206px;
    padding: 17px 24px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
text-align: center;
position: absolute;
bottom: 357px;
left: 230px;
}
.free-workout-videos p{
    color: rgb(255, 255, 255);
font-size: 2.5rem;
font-weight: 900;
}
.free-workout-videos small{
    color: rgba(255, 255, 255, 0.65);
font-size: 0.8125rem;
font-weight: 400;
}
/* <!-- Change Your Habits Start Codding Here --> */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.text-area{
    text-align: center;
    width: 671px;
}
.img-container{
    display: flex;
    gap: 40px;
    margin: 0 auto;
    margin-top: 58px;
}
.habit-title{
    color: rgb(255, 255, 255);
font-size: 3rem;
font-weight: 900;
}
.fitness-img img{
border-radius: 90px;
}
.img-name{
    color: rgb(255, 255, 255);
font-size: 1.125rem;
font-weight: 600;
}
.fitness-img{
    width: 231px;
height: 274px;
text-align: center;
}
.fitness-img h4{
margin-top: 10px;
}
.fitness-img p{
margin-top: 10px;
}
.habit-description{
    margin-top: 14px;
}